@model IEnumerable<PetCenter.Common.Core.Entities.Asistencia>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Asistencia</h2>

<p>
    @Html.ActionLink("Procesar del Mes Presente", "ProcesarAsistencias")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.CodigoEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.CodigoEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaSalida)
        </td>
        
    </tr>
}

</table>
