@model PetCenter.Common.Core.Entities.Falta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Falta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empleado.CodigoEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.CodigoEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Justificacion.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Justificacion.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaTermino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaTermino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadDias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadDias)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FaltaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
