@model IEnumerable<PetCenter.Common.Core.Entities.Falta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.CodigoEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Justificacion.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaTermino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadDias)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.CodigoEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Justificacion.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaTermino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadDias)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FaltaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FaltaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FaltaId })
        </td>
    </tr>
}

</table>
