@model PetCenter.Common.Core.Entities.Contrato

@{
    ViewBag.Title = "Editar Contrato";
}

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Contrato</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ContratoId)

        <div class="form-group">
            <div class="control-label col-md-2">Empleado</div>
            <div class="col-md-10">
                @Html.DropDownList("EmpleadoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmpleadoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Es Afp</div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.EsAfp)
                    @Html.ValidationMessageFor(model => model.EsAfp, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Sueldo Base</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SueldoBase, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SueldoBase, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Ubigeo</div>
            <div class="col-md-10">
                @Html.DropDownList("UbigeoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UbigeoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Jornada de Trabajo</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.JornadaTrabajo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JornadaTrabajo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Renumeración en Letra</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.RenumeracionLetra, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RenumeracionLetra, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Fecha Inicio</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Fecha Termino</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaTermino, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaTermino, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Estado</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Descargar", "Download", new { id = Model.EmpleadoId }) 

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

