@model IEnumerable<PetCenter.Common.Core.Entities.Contrato>

@{
    ViewBag.Title = "Listado de Contratos";
}

<h2>Listado de Contratos</h2>

<p>
    @Html.ActionLink("Crear contrato", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Codigo Empleado
        </th>
        <th>
            Ubigeo
        </th>
        <th>
            Es AFP
        </th>
        <th>
            Sueldo Base
        </th>
        <th>
            Jornada de Trabajo
        </th>
        <th>
            Renumeración 
        </th>
        <th>
            Fecha Inicio
        </th>
        <th>
            Fecha Termino
        </th>
        <th>
            Estado
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.CodigoEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubigeo.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsAfp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SueldoBase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JornadaTrabajo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RenumeracionLetra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaTermino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ContratoId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ContratoId })|
            @Html.ActionLink("Download", "Download", new { id = item.EmpleadoId })
        </td>
    </tr>
}
</table>
<br />

@if(TempData["contratomsg"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            bootbox.alert("@TempData["contratomsg"]");
        };
    </script>
}