@model PagedList.IPagedList<PetCenter.Common.Core.Entities.Contrato>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Listado de Contratos";
}

<h2>Listado de Contratos</h2>

<p>
    @Html.ActionLink("Crear contrato", "Create")
</p>

@using (Html.BeginForm("Index", "Contratoes", FormMethod.Get))
{
    <p>
        Buscar por Contrato: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ContratoId", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
       </th>
        <th>
            Codigo Empleado
        </th>
        <th>
            Ubigeo
        </th>
        <th>
            Es AFP
        </th>
        <th>
            Sueldo Base
        </th>
        <th>
            Jornada de Trabajo
        </th>
        <th>
            Remuneración 
        </th>
        <th>
            Fecha Inicio
        </th>
        <th>
            Fecha Termino
        </th>
        <th>
            Estado
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContratoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.CodigoEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubigeo.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsAfp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SueldoBase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JornadaTrabajo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RenumeracionLetra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaTermino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ContratoId }) |
            @Html.ActionLink("Descargar", "Download", new { id = item.EmpleadoId })
            @*@if (item.UsuarioAprueba == null)
            {
                |
                @Html.ActionLink("Aprobar", "Aprobar", new { id = item.ContratoId })
            }*@
        </td>
    </tr>
}
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@if(TempData["contratomsg"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            bootbox.alert("@TempData["contratomsg"]");
        };
    </script>
}