@model PetCenter.Common.Core.Entities.Justificacion

@{
    ViewBag.Title = "Crear Justificacion";
}

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Justificacion</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EmpleadoId, "EmpleadoId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmpleadoId", (IEnumerable<SelectListItem>)ViewData["EmpleadoId"], "Seleccionar", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmpleadoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Estado)
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="UploadFile" accept="application/pdf" id="txtUploadFile" class="btn btn-default makethispretty" />
                <div id="lblMensajeCarga"></div>
            </div>
        </div>
        <div id="divPartialView">
         </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la Lista", "Index")
</div>
<script type="text/javascript">
    $("#EmpleadoId").change(function (event) {
        $.ajax({
            url: "GetPartialGraph/" + $(this).val(),
            data: { id: $(this).val() },
            cache: false,
            type: "POST",
            dataType: "html",

            success: function (data, textStatus, XMLHttpRequest) {
                $("#divPartialView").html(data); 
            }
        });
    });

    $('#txtUploadFile').on('change', function (e) {
        debugger;
        var files = e.target.files;
        if (files.length > 0) {
            var items = document.getElementById("EmpleadoId");
            var myID = items[items.selectedIndex].value;

            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '/Justificacions/UploadHomeReport?id=' + myID,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        $("lblMensajeCarga").append(JSON.parse(result.responseText).Message);
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        $("lblMensajeCarga").append(err);
                    }
                });
            } else {
                alert("Este browser no soporta HTML5 subida de archivos!");
            }
        }
    });
</script>