@model IEnumerable<PetCenter.Common.Core.Entities.Justificacion>

@{
    ViewBag.Title = "Listado de Justificaciones";
}

<h2>Listado de Justificaciones</h2>

<p>
    @Html.ActionLink("Crear Justificación", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Empleado
        </th>
        <th>
            Descripción
        </th>
        <th>
            Ruta Documento
        </th>
        <th>
            Estado
        </th>
        <th>
            Usuario Aprobado
        </th>
        <th>
            Fecha Aprobación
        </th>
        <th>
            Usuario Niega
        </th>
        <th>
            Fecha Negacion
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.XNombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioAprueba)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAprobacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioNiega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNegacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.JustificacionId }) |
            @Html.ActionLink("Aprobar", "Aprobar", new { id=item.JustificacionId }) |
            @Html.ActionLink("Anular", "Anular", new { id=item.JustificacionId })
        </td>
    </tr>
}

</table>
